@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
  }
}

:root {
  --bg: #fcfcfc;
  --text: #151515;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #151515;
    --text: #fcfcfc;
  }
}

html,
body,
#root {
  height: 100vh;
  background-color: var(--bg);
  color: var(--text);
}
